.header {
  background: #f4f4f4;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
  font-size: 2.5em;
}

.header p {
  font-size: 1.2em;
}

@media (max-width: 600px) {
  .header {
    padding: 10px;
  }

  .header h1 {
    font-size: 2em;
  }

  .header p {
    font-size: 1.2em;
  }
}

.icon-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  color: rgb(33, 150, 243);
}

.icon-links a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5em;
}

.icon-links a:hover {
  color: #0073b1;

}