* {
  box-sizing: border-box;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0.5em 0;
}

.project-card {
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  overflow: hidden;
  word-wrap: break-word;
}

.project-card:hover {
  transform: scale(1.02);
}

.project-card h3,
.project-card p,
.project-card a {
  margin: 5px 0;
}

.project-card h3 {
  margin-top: 0;
  font-size: 1.2em;
}

.project-card a {
  color: rgb(33, 150, 243);
  text-decoration: none;
  font-size: 0.8em;
}

.project-card a:hover {
  text-decoration: underline;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-technologies {
  display: flex;
  gap: 5px;
}

.technology-icon {
  font-size: 1.2em;
  color: rgb(33, 150, 243);
}

.project-links {
  display: flex;
  gap: 10px;
}

.project-link {
  display: flex;
  align-items: center;
  color: #0073b1;
  text-decoration: none;
}

.project-link:hover {
  text-decoration: underline;
}

.project-link svg {
  margin-right: 5px;
}

@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .project-card {
    padding: 15px;
  }
}

@media only screen and (min-width: 1170px) {
  .projects-grid {
    width: 100%;
  }
}

.project-description {
  font-size: 1em;
}