.projects-grid {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
}

.project-card { display: flex; flex-direction: column; }

.project-card.card { padding: 25px; }

.project-card .project-title {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 15px;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.technology-icon-wrapper .technology-icon {
  font-size: 1.8em;
  color: var(--secondary-color);
  transition: color 0.3s ease, transform 0.3s ease;
}

.technology-icon-wrapper:hover .technology-icon {
  color: var(--primary-color);
  transform: scale(1.1);
}

.project-description {
  font-size: 1em;
  margin-bottom: 20px;
  flex-grow: 1;
}

.project-links {
  display: flex;
  gap: 15px;
  margin-top: auto;
}

.project-link {
  display: inline-flex;
  align-items: center;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.project-link:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.project-link svg {
  margin-right: 8px;
  font-size: 1.2em;
}

@media (max-width: 750px) {
  .projects-grid { grid-template-columns: 1fr; }
  .project-card.card { padding: 20px; }
  .project-description { text-align: justify; hyphens: auto; }
}