.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  align-items: stretch;
}

.skill-category.card { padding: 25px; }

.category-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.category-icon {
  font-size: 1.6em;
  margin-right: 15px;
  color: var(--secondary-color);
}

.category-header h3 {
  font-size: 1.4em;
  margin: 0;
  font-family: var(--heading-font);
}

.skills-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-tag {
  background-color: var(--secondary-color);
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 0.9em;
  font-weight: 500;
}

@media (max-width: 600px) {
  .category-header h3 {
    font-size: 1.2em;
  }

  .category-icon {
    font-size: 1.4em;
  }

  .skills-list { grid-template-columns: 1fr; }
}
@media (max-width: 750px) {
  .skills-list { grid-template-columns: 1fr; }
}
