* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

.container {
  padding: 20px;
  margin: auto;
  max-width: 1200px;
}

header,
section {
  margin-bottom: 20px;
}

header p,
section h2,
section h3,
section p {
  margin: 5px 0;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

.centered-header {
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.section-container {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}